PORT=5000
NODE_ENV=
MONGO_URI=
MONGODB_URI=
MONGODB_BACKUP_URI=
JWT_SECRET=
JWT_EXPIRES_IN=
CLIENT_URL=
ADMIN_USERNAME=
ADMIN_PASSWORD=
ADMIN_EMAIL=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
BACKUP_EMAIL_ON_SUCCESS=
BACKUP_EMAIL_ON_FAILURE=
BACKUP_ENABLED=
